* {padding:0;margin: 0;}

body {
  background-color: whitesmoke;
}
.container {
  position:absolute;
  width:300px;
  top:25%;
  left:50%;
  margin:-150px 0 0 -150px;
  border-radius: 6px;
  /*border: 1px red solid;*/
}
#job-search {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  border-radius: 6px;
  border-style: none;
  border: 1px solid gray;
}
#person {
  position: relative;
  background-repeat: no-repeat;
  /*border: 1px blue solid;*/
  height: 350px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid gray;
  border-radius: 6px;
}
#person img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}
.body-section {
  width: 100%;
  border: 1px solid gray;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 55px;
  border-radius: 6px;
  line-height: 55px;
  font-size: 2em;
  font-family: sans-serif;
  color: grey;
}
#profile-image {
  float: left;
  width: 160px;
  margin-top: 5%;
}
#profile-img-btn {
  margin-top: 5%;
}
.thumbnail {
  height: 55px;
}
.equipment.thumbnail img {
  float: left;
  height: 55px;
  margin-right: 10%;
  border-right: 1px solid black;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top: 10%;
}
.equipment li {
  position: relative;
}
.img-lrg {
  height: 300px;
  width: 100%;
  z-index: 1;
  position: absolute;
  bottom: 0;
  background: white;
  opacity: .96;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.close {
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  width: 2em;
  height: 2em;
  text-indent: 30px;
  cursor: pointer;
  z-index: 5;
}
#welcome-header {
  font-family: sans-serif;
  color: gray;
  margin-bottom: 5%;
}
.equipment-name {
  line-height: 55px;
  margin-left: 30%;
  position: absolute;
  top: 0;
}